#  Data Science Tools and Ecosystem using H1 style heading

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages used in Data Science.
- Libraries, API'S, Datasets and Models.
- Cloud Based Tools for Data Science.
- Plotting in RStudio.

## Author

Guy Cohen

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Sckit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335